.catalog {
  padding: 50px 0 44px;
  background-color: $bg-lightest-grey;
}

.catalog__title {
  margin-bottom: 20px;
}

.catalog__form {
  margin-bottom: 40px;
}

.catalog__sorting-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.catalog__products-cards {
  margin-bottom: 40px;
}
