.form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.form__group {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  border: 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.form__title {
  margin-bottom: 19px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__range {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.form__buttons {
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-top: 39px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}
