.hero {
  background-color: $bg-flat-white;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(0deg, $base-white, $base-white 188px, $bg-flat-white 188px, $bg-flat-white);
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}
