.logo {
  display: block;
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 315px;
    height: 36px;
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 170px;
    height: 36px;
  }
}

.logo__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 126px;
    margin: 0;
    font-size: 12px;
    line-height: 133%;
  }
}
