.logo {
  display: block;
  width: 32px;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 316px;
  }

  &--footer {
    width: 82px;

    @media (min-width: $tablet-width) {
      width: 170px;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 318px;
    }

    @media (min-width: $desktop-width) {
      .logo__text {
        width: auto;
        margin-top: 3px;
        font-size: 14px;
        line-height: 143%;
      }
    }
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 170px;
    height: 36px;
  }
}

.logo__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 126px;
    margin: 0;
    font-size: 12px;
    line-height: 133%;
  }
}
