.main-nav {
  display: flex;
  align-items: start;
  justify-content: right;
  width: 100%;
}

.main-nav__logo {
  margin-top: 12px;
  margin-right: auto;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    margin-right: 67px;
  }

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.main-nav__site-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 445px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 670px;
  }

  &--active {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
  }
}

.main-nav__user-list {
  max-width: 180px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    max-width: 335px;
  }
}

.main-nav__burger {
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
