.pagination {
  display: flex;
  gap: 20px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__toggle {
  position: relative;
  flex-shrink: 0;
  padding: 8px;
  width: 40px;
  height: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    mask-image: url("../../icons/stack.svg#small-arrow-icon");
    background-color: $base-primary;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: 0.2s ease-in;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      background-color: $base-white;
    }
  }

  &:disabled {
    opacity: 0;
    pointer-events: none;
  }

  &--next {
    &::before {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  span {
    &:last-child {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;

    &::before {
      display: none;
    }

    span {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline;
      }
    }
  }
}

.pagination__button {
  padding: 8px;
  min-width: 40px;
  min-height: 40px;

  &--current {
    font-weight: 600;
    color: $base-black;
    background-color: transparent;
    pointer-events: none;
  }
}
