.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  background-color: $base-white;
  transition: 0.2s ease-in;

  &:has(a:hover),
  &:has(a:focus),
  &:has(a:active) {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }

  &--promo {
    background-color: transparent;

    &:has(a:hover),
    &:has(a:focus),
    &:has(a:active) {
      box-shadow: none;
    }

    .product-card__image-wrapper {
      margin-bottom: 10px;
      padding-top: 0;
    }

    .product-card__image {
      display: block;
      height: 100%;
    }

    .product-card__info {
      padding: 0;
    }

    .product-card__title {
      margin-bottom: 9px;
    }

    .product-card__description {
      text-align: center;
    }

    .product-card__footer {
      justify-content: left;
      gap: 20px;
      width: fit-content;
      margin: 20px auto 0;
    }

    .product-card__button::before {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    &--promo {
      .product-card__info {
        order: 1;
      }

      .product-card__image-wrapper {
        margin-top: 20px;
        order: 2;
        margin-bottom: 0;
      }

      .product-card__title {
        margin-bottom: 16px;
      }

      .product-card__description {
        font-size: 20px;
        line-height: 160%;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--promo {
      flex-direction: row;
      column-gap: 30px;
      align-items: start;
      padding: 0 40px 0 65px;

      .product-card__image-wrapper {
        order: 1;
        width: 600px;
        margin-top: 0;
      }

      .product-card__info {
        order: 2;
        width: 625px;
        align-items: start;
        margin-top: 150px;
        margin-bottom: 0;
        padding-bottom: 10px;
      }

      .product-card__title {
        margin-bottom: 16px;
      }

      .product-card__description {
        font-size: 20px;
        line-height: 160%;
        text-align: left;
      }

      .product-card__footer {
        margin: 0;
        margin-top: 40px;
      }
    }
  }
}

.product-card__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 19px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    margin-bottom: 24px;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0;
  flex-grow: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 30px;
    padding-top: 0;
  }
}

.product-card__title {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }
}

.product-card__description {
  flex-grow: 1;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 143%;
  }
}

.product-card__footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.product-card__button {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}
