.range__scale {
  position: relative;
  height: 2px;
  margin-bottom: 34px;
  background-color: $alt-light-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.range__bar {
  position: absolute;
  top: -1px;
  left: 0;
  width: 260px;
  height: 4px;
  background-color: $alt-primary-lighter;

  @media (min-width: $tablet-width) {
    width: 200px;
  }
}

.range__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  right: 0;
}

.range__fields {
  position: relative;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 8px;
    height: 2px;
    background-color: $base-grey;
    transform: translateX(-50%);
  }
}

.range__control {
  width: 118px;
  height: 40px;

  @media (min-width: $tablet-width) {
    width: 88px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}
