.sorting {
  position: relative;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    top: 10px;
    right: 7px;
    width: 10px;
    height: 10px;
    background-color: $base-primary;
    mask-image: url("../../icons/stack.svg#small-arrow-icon");
    mask-repeat: no-repeat;
    mask-size: 10px 10px;
    mask-position: center;
    transition: 0.2s ease-in;
  }

  &:has(.sorting__control:hover) {
    .sorting__control {
      background-color: $base-secondary;
    }
  }

  &:has(.sorting__control:focus),
  &:has(.sorting__control:active) {
    &::after {
      transform: rotate(180deg);
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 6px;
      right: 11px;
    }
  }
}

.sorting__control {
  width: 162px;
  padding: 4px 28px 4px 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: $base-primary;
  appearance: none;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.2s ease-in;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    padding: 0 30px 0 6px;
  }
}
